<!DOCTYPE html>
<html>
<head>
  <title>Ejemplo Layout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<h1>Ejemplo Layout</h1>
</header>
<!--This execute the page that we structured and insert here into the layout -->
<%= yield %>
<p>This message comes from the ejemplo layout</p>
</body>
</html>
